.App {
  text-align: center;
  color: #ADEEE3, #86DEB7, #63B995, #50723C, #423E28;
  font-family: 'Nanum Gothic Coding', monospace;
  
}

.container {
  background-color: #adeee3;
 color:black;
 flex-direction: column;
 text-decoration: none;
}

.logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 250px;
width: 250px;
}

header{
display: flex;
justify-content: space-between;
background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://us.123rf.com/450wm/tatus/tatus1412/tatus141200001/34192460-seamless-camouflage-pattern.jpg?ver=6");
align-items: center;
padding:30px 10%;
box-shadow: 0 0 100px #50723C;
}

nav, li{
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color:#ADEEE3;
  justify-content: space-evenly;
  display: inline;
  list-style: none;
  margin-right: 30px;
  background-color: #423E28;
  width:9000px;
  height:50px;
}

ul{
  float:right;
  list-style: none;
  margin-top:20px;
  padding-right:10px
}


@media (min-width: 800px) {
.home-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}
}

.bootcamp-card{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding:30px;
 background-color: #86DEB7;
 height: 500px;
 width: 800px;
 margin: 20px;
 border-radius: 25px;
 border: #423E28;
 border-style: double;

}
.bootcamp-name{
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #50723C;
  height: 250px;
  width: 250px;
  margin: 20px auto;
  font-size: 50px;
}

.bootcamp-description{
font-size:30px;
}

.welcome {
  color: #423E28;
  font-size: 70px;
  font-weight: 700;
}

.login-button  {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  width: 100%;
  height: 30px;
  font-family: 'Nanum Gothic Coding', monospace;
  border: none;
  cursor: pointer;
}

.create-button {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: white;
  border: none;
  cursor: pointer;
}

.signin-container {
  display: flex inline-flex;
  justify-content: center;
  width: 500px;
  padding-left: 30%;
  margin: 20px;
  font-size: 20px;
}

.signin-form {
  display: flex inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  top: 50%;
  left: 50%;
}

.signin-form label {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.signin-form input {
  width: 100%;
  font-size: 14px;
}

.signin-checkbox{
  float: left;
  margin: 5px -190px;
  padding: 15px;
}

.signin-showpass {
  display: flex inline;
  justify-content: left;
  font-size: 12px;
}

.register-container {
  display: flex inline-flex;
  justify-content: center;
  width: 500px;
  padding-left: 30%;
  margin: 20px;
  font-size: 20px;
}

.register-header {
  margin-bottom: 15px;
}

.register-label {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  font-size: 18px;
}

.register-button {
  width: 100%;
  font-size: 18px;
}