.App {
  text-align: center;
  color: #ADEEE3, #86DEB7, #63B995, #50723C, #423E28;
  font-family: 'Nanum Gothic Coding', monospace;
  
}

.container {
  background-color: #adeee3;
 color:black;
 flex-direction: column;
 text-decoration: none;
}

.logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 250px;
width: 250px;
}

header{
display: flex;
justify-content: space-between;
background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://us.123rf.com/450wm/tatus/tatus1412/tatus141200001/34192460-seamless-camouflage-pattern.jpg?ver=6");
align-items: center;
padding:30px 10%;
box-shadow: 0 0 100px #50723C;
}

nav, li{
  text-decoration: none;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color:#ADEEE3;
  justify-content: space-evenly;
  display: inline;
  list-style: none;
  margin-right: 30px;
  background-color: #423E28;
  width:9000px;
  height:50px;
}

ul{
  float:right;
  list-style: none;
  margin-top:20px;
  padding-right:10px
}

.logo-wrapper{

}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  margin-top: 4em;
  background-size: cover;
  background-position: center center;
  position: relative
}

.col-3 {
  grid-template-columns: 3fr 10fr 1fr;
}

.welcome {
  color: #423E28;
  font-size: 70px;
  font-weight: 700;
}

.bootcamp-list{
  background-color: #86DEB7;
}

.bootcamp-name{
  display: flex;
  background-color: #50723C;
  border-radius: 50%;
  height:100px;
  width: 100px;
  align-items: center;
  margin: 20px;
}

.login-button  {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  width: 50%;
  cursor: pointer;
}

.create-button {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

.signin-container {
  padding: 0;
  margin: 0
}

.signin-form {
  display: flex inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  top: 50%;
  left: 50%;
}

.signin-form label {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.signin-form input {
  width: 100%;
  font-size: 14px;
}
