
.App {
  text-align: center;
  color: #ADEEE3, #86DEB7, #63B995, #50723C, #423E28;
  font-family: 'Nanum Gothic Coding', monospace;

}
body{
  background-color: black;
}

.container {
  background-color: #adeee3;
 color:black;
 flex-direction: column;
 text-decoration: none;
}

.logo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100px;
width: 100px;
}

header{
display: flex;
justify-content: space-between;
background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://us.123rf.com/450wm/tatus/tatus1412/tatus141200001/34192460-seamless-camouflage-pattern.jpg?ver=6");
align-items: center;
padding:30px 10%;
box-shadow: 0 0 100px #50723C;
position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav-links, li{
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:#ADEEE3;
  display: inline;
  margin-right: 30px;
}



ul{
  float:right;
  list-style: none;
  margin-top:20px;
  padding-right:10px
}


@media (min-width: 1600px) {
.home-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
}
}

.bootcamp-card{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding:30px;
 height: 100px;
 width: 200px;
 margin: 20px;
 border-radius: 25px;
 background-color: #423E28;
 box-shadow: 10px 10px 5px ;
}

.bootcamp-card:hover{
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3);
}
.bootcamp-name{
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #50723C;
  height: 50px;
  width: 50px;
  font-size: 15px;
  flex-shrink: inherit;
  color:#adeee3;
  background-image:  url("https://us.123rf.com/450wm/tatus/tatus1412/tatus141200001/34192460-seamless-camouflage-pattern.jpg?ver=6");
  border: #423E28;
  border-style: outset;
  border-width: 15px;
}

.bootcamp-description{
font-size:10px;
color:#63B995;
position: absolute;
background: linear-gradient(to top, rgba(0,0,0, 0.85));
}

.welcome {
  color: darkgreen;
  font-size: 70px;
  font-weight: 700;
}

.login-button  {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  width: 100%;
  height: 30px;
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: #f4b554;
  color: #194648;
  border: none;
  cursor: pointer;
}

.create-button {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Nanum Gothic Coding', monospace;
  background-color: #423e28;
  color: white;
  border: none;
  cursor: pointer;
}

.signin-container {
  display: flex inline-flex;
  justify-content: center;
  width: 400px;
  padding: 5px 20px;
  margin: auto;
  font-size: 20px;
  background-color: #423e28;
  color: white;
}

.signin-form {
  display: flex inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  top: 50%;
  left: 50%;
}

.signin-form label {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.signin-form input {
  width: 100%;
  font-size: 14px;
}

.signin-checkbox{
  float: left;
  margin: 5px -190px;
  padding: 15px;
}

.signin-showpass {
  display: flex inline;
  justify-content: left;
  font-size: 12px;
}

.register-container {
  display: flex inline-flex;
  justify-content: center;
  width: 425px;
  padding: 5px 20px;
  margin: auto;
  font-size: 20px;
  background-color: #423e28;
  color: white;
}

.register-header {
  margin-bottom: 15px;
}

.register-label {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  font-size: 18px;
}

.register-button {
  width: 100%;
  font-size: 18px;
}

.register-confirm {
  width: 100%;
  font-size: 18px;
  background-color: #f4b554;
  color: #194648;
  border: none;
}