.details-wrapper{
    display: grid;
    color: #adeee3;
    font-size: 50px;
    font-weight: bold;
    grid-template-columns: repeat( 3, 1fr) ;
    grid-template-rows: 50px 1fr 1fr 100px;
    width: 100vw;
    height:100vh;
    font-weight: bold;
    font-size: 20px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    padding: 40px;
    margin: 20px;
}

.bootcamp-details-card{
    color:#adeee3;
    background-color:black;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 10px;
    border-radius: 25px;
    margin:50px;

}

.bootcamp-details-card > div{
    color:#adeee3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: black;
    border-radius: 25px;
    box-shadow:  0 5px 10px #50723C;
}

.bootcamp-details-card a{
    color: #adeee3;
}
.details-name{

    color: #adeee3;
    align-items: center;
    font-size: 50px;
    height: 60px;
    border: #50723C;  
    flex-wrap:wrap;

}

