.bootcamp-review-card{
  color: #86deb7;
  background-color: #040603;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 25px;
}

.bootcamp-comment-card{
  background-color: blue;
}

.review{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 25px;
  margin: 10px 20px;
  color: #adeee3;
  padding: 10px 30px;
  box-shadow: 0 5px 10px #52642f;
}